<script lang="ts">
  // import svelteLogo from './assets/svelte.svg'
  // import L from "leaflet"
  import "leaflet/dist/leaflet.css";
  import * as L from 'leaflet';
  import { onMount } from 'svelte';

  onMount(async () => {
    
      const map = L.map('map').setView([34.43, 5.06], 15);
    
      const tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);
  });









</script>
<div id="map" class="leaflet-container" ></div>
<style>


		.leaflet-container {
			height: 400px;
			width: 600px;
			max-width: 100%;
			max-height: 100%;
		}
</style>