<script lang="ts">
import { onMount } from "svelte";
import Select from 'svelte-select';
let wilayas_list=[]

let items=[]



onMount(async () => {
    const raw = await fetch("./data/wilayas.json")
    const data = await raw.json()

     data.map(item =>{
        items.push({id:item.id, value:item.ref, label:item.name_fr})
        
    })
   
  
});
console.log("🚀 ~ file: Select.svelte ~ line 32 ~ onMount ~ items", items)
function handleSelect(event) {
    console.log('selected item', event.detail);
    // .. do something here 🙂
  }
</script>

{#if items}
    
<Select   {items} on:select={handleSelect}/>
{/if}   

<!-- <Select {optionIdentifier} {labelIdentifier} items={wilayas_list} /> -->
