<script lang="ts">
  // import svelteLogo from './assets/svelte.svg'

import Map from "./components/Map.svelte";
import Select from "./components/Select.svelte";

</script>

<main>
  <!-- <Map /> -->

  <div class="select">
    <Select />
  </div>
</main>

<style>
.select {
  min-width: 600px;
}
</style>